<div class="overflow-hidden h-screen bg-gradient-to-r from-purple-600 to-blue-600"
  [@fadeInUpRouterAnimation]="getRouteAnimationData()">
  <router-outlet></router-outlet>


  <!-- <div class="flex justify-center items-center h-screen bg-gradient-to-r from-purple-600 to-blue-600">

    <div class="bg-gray-800 p-5 rounded-lg shadow-lg flex flex-col items-center">

      <app-logo cssClass="h-24 w-72 mb-10" fillColor="#000000"></app-logo>

      <h1 class="text-white text-2xl">準備中</h1>
      <h1 class="text-white text-sm mb-6">敬請期待</h1>
      <span class="loader text-2xl mb-5"></span>
    </div>
  </div> -->
</div>

